/*COMMON*/


/*HEADER*/
.wrapper-header{
    margin-top: 20px;
}
header ul{
    line-height: 30px;
}
header li{
    display: inline-block;
    margin-left: 10px;
    
}
header a{
    color: #031c4e;
    font-weight: bold;
}
header .custom_button{
    color: #1678ff;
    border-color: #1678ff;
}
/*Burger*/
.burger i{
    font-size: 30px;
    color: #1678ff;
    line-height: 30px;
}
.burger{
    line-height: 75px;
}
/*Jumbotron*/
.wrapper-jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron-content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.jumbotron-content h1{
    color: white;
    font-size: 50px;
}
.jumbotron-content p{
    color: #bbcdff;
    font-size: 20px;
}

/*Form / Form Wrapper*/
.form-wrapper{
 background-color: white;
 border-radius: 10px;
 padding: 10px;
}
.form-wrapper h2{
    color: #031c4e;
}
.form-wrapper a{
    color: #006aff;
}
.form-wrapper button{
    width: 100%;
    font-weight: bold;
}
.btn_blue{
    color: white;
    background-color: #579aff;
}
.btn_white{
    color: #707070;
    background-color: white;
    position: relative;
}
.btn_white img{
    width: 3%;
    position: absolute;
    left: 0%;
}

/*Termini di servizio*/
.termini-di-servizio p{
    color: #031c4e;
    font-size: 15px;
}
.termini-di-servizio a{
    text-decoration: underline;
    font-size: 15px;
}
