/*COMMON*/
body h2,h3,h4{/*Ho dovuto usare un selettore piu specifico*/
    color: #031c4e;
}
body p{/*Ho dovuto usare un selettore piu specifico*/
    color: #5c6a88;
    font-size: 20px;
}
.wrapper-grey{
    background-color: #f3f5f9;
    padding: 30px;
}
.wrapper-grey h3{
    color: #828da5;
    font-size: 20px;
}
.wrapper-grey p{
    color: #586686;
    font-size: 15px;
    font-weight: 500;
}
.wrapper-grey a{
    color: #006aff;
    font-size: 20px;
}
.wrapper-blue{
    padding: 30px;
    background: rgb(0,30,153);
    background: linear-gradient(0deg, rgba(0,30,153,1) 0%, rgba(0,72,198,1) 100%);
}
.wrapper-blue h2{
    color: white;
}
.wrapper-navy{
    background-color: #031c4e;
}
.wrapper-navy h4{
    color: white;
}
.wrapper-navy p{
    color: #a3aaba;
}


/*HEADER*/
.wrapper-header{
    margin-top: 20px;
}
header ul{
    line-height: 30px;
}
header li{
    display: inline-block;
    margin-left: 10px;
    
}
header a{
    color: #031c4e;
    font-weight: bold;
}
header .custom_button{
    color: #1678ff;
    border-color: #1678ff;
}
/*Burger*/
.burger i{
    font-size: 30px;
    color: #1678ff;
    line-height: 30px;
}
.burger{
    line-height: 75px;
}
/*Jumbotron*/
.wrapper-jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron-content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.jumbotron-content h1{
    color: white;
    font-size: 50px;
}
.jumbotron-content p{
    color: #bbcdff;
    font-size: 20px;
}

/*Form / Form Wrapper*/
.form-wrapper{
 background-color: white;
 border-radius: 10px;
 padding: 10px;
}
.form-wrapper h2{
    color: #031c4e;
}
.form-wrapper a{
    color: #006aff;
}
.form-wrapper button{
    width: 100%;
    font-weight: bold;
}
.btn_blue{
    color: white;
    background-color: #579aff;
}
.btn_white{
    color: #707070;
    background-color: white;
    position: relative;
}
.btn_white img{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0px;
}
/*Termini di servizio*/
.termini-di-servizio p{
    color: #031c4e;
    font-size: 15px;
}
.termini-di-servizio a{
    text-decoration: underline;
    font-size: 15px;
}


/*MAIN*/
/*Immagini Sponsor*/
.sponsor-img ul{
    list-style: none;
}
.sponsor-img li{
    display: inline-block;
    width: calc((100% / 6) - 8px);
}
.sponsor-img li .custom_img{
    display: inline-block;
    width: 100%;
}
/*Configurazioni*/
.conf-wrapper{
    padding: 30px;
}
.conf-wrapper ul{
    list-style: none;
    border-left: 1px solid #cccccc;
    margin-top: 40px;
    padding: 0;
}
.conf-wrapper li{
    color: #75809a;
    padding-bottom: 15px;
    font-size: 20px;
    margin-left: 5px;
}
.wrapper-conf-sistem{
    padding: 30px
}
.wrapper-conf-sistem p{
    font-size: 15px;
}
/*Pannello di controllo*/
.pann-ctrl-img{
    padding: 30px
}
.pann-ctrl-img img{
    max-width: 60%;
}
.pann-ctrl-img .chevron{
    color: #031c4e;
    padding: 5px;
    font-size: 30px;
}
.circles a{
    display: inline-block;
    background-color: #006aff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.circles a:hover{
    background-color: #f3f5f9;
    border: 1px solid #006aff;
}
/*Feature*/
.feature-sect-wrapper{
    padding: 30px;
}
.feature-wrapper{
    padding: 30px;
}
.feature-wrapper h3{
    font-size: 20px;
}
.feature-wrapper p{
    font-size: 15px;
}
.feature-wrapper a{
    color: #2981ff;
    font-weight: bold;
}
/*Regioni*/
.border-bottom-regioni{
    border-bottom: 1px solid #cfd9f0;
}
.regioni-col{
    margin: 10px 0;
}
.regioni-col h5,p,a{
    display: inline-block;
    margin: 0px;
}
.regioni-col h5{
    color: #eaeff8;
}
.regioni-col p{
    font-size: 15px;
    color: #a2b4e1;
}
.regioni-col a{
    color: #00cccf;
}
/*Team di sviluppo*/
.rockerbox-container{
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: 20px;
    background-color: white;
    max-height: 300px;
    max-width: 500px;
    border-radius: 10px;

}
.wrapper-grey .chevron-dev{
    color: #031c4e;
    font-size: 30px;
    line-height: 190px;
}


/**FOOTER/
/*Get started*/
.wrapper-blue .btn_custom{
    color: #2980ff;
    margin: 20px 0;
}
/*Info e Link*/
.info{
    padding: 30px;
}
.info p{
    color: #8790a6;
    font-size: 15px;
    margin-top: 10px;
}
#special-txt{
    color: #576584;
    font-size: 15px;
}
.social ul{
    list-style: none;
    padding: 0;

}
.social li{
    color: #7a859d;
    margin-left: 10px;
    display: inline-block;
    font-size: 25px;
    
}
.link-footer{
    padding: 30px;
}
.link-footer ul{
    list-style: none;
    padding: 0;
    
}
.link-footer li{
    margin-top: 10px;
}
.link-footer a{
    color: #a4abbb;
    font-size: 15px;
    font-weight: bold;
}


/*Media Queries*/
/*Immagini-Sponsor*/
@media only screen and (max-width: 767px){
.sponsor-img li{
        display: inline-block;
        width: calc((100% / 2) - 8px);
        margin-left: 5px;
}
.sponsor-img ul{
    padding: 0;
}
}