/*COMMON*/


/*HEADER*/
.wrapper-header{
    margin-top: 20px;
}
header ul{
    line-height: 30px;
}
header li{
    display: inline-block;
    margin-left: 10px;
    
}
header a{
    color: #031c4e;
    font-weight: bold;
}
header .custom_button{
    color: #1678ff;
    border-color: #1678ff;
}
/*Burger*/
.burger i{
    font-size: 30px;
    color: #1678ff;
    line-height: 30px;
    width: 100%;
    display: block;
}
.burger{
    line-height: 75px;
}
/*Jumbotron*/
.wrapper-jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron-content{
    margin-top: 50px;
}
.jumbotron-content h1{
    color: white;
    font-size: 50px;
}
.jumbotron-content p{
    color: #bbcdff;
    font-size: 20px;
}
